@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600);
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: raleway; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

header {
  position: fixed;
  padding: 10px 15px 0 170px;
  display: none;
  width: 100%;
  background: #383C3E url(/images/whall-logo-side.svg) no-repeat 15px center;
  background-size: 160px 40px;
  color: #FFF;
  font-size: 30px;
  z-index: 5000; }
  header nav {
    text-align: right; }
    header nav a {
      position: relative;
      color: #FFF;
      text-decoration: none;
      font-size: 16px;
      display: inline-block;
      letter-spacing: .5px;
      margin-right: 20px;
      padding-bottom: 20px; }
      header nav a._active:after, header nav a:hover:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        content: '';
        background-color: #F26241; }

section {
  position: relative;
  display: table;
  width: 100%;
  padding: 110px; }
  section .row {
    display: block; }
  section .col {
    display: table-cell;
    vertical-align: top;
    min-height: 200px;
    margin: 0; }
  section._sixty-thirty .col._left {
    width: 30%; }
  section._sixty-thirty .col._spacer {
    width: 10%; }
  section._sixty-thirty .col._right {
    width: 60%; }
  section._fifty-fifty .col._imageHolder,
  section ._fifty-fifty .col._imageHolder {
    display: inline-block;
    width: 49% !important;
    min-height: auto; }
  section._fifty-fifty .col._left,
  section ._fifty-fifty .col._left {
    width: 50%;
    padding-right: 68px;
    border-right: 1px dashed #7CA0A8; }
    section._fifty-fifty .col._left._noborder,
    section ._fifty-fifty .col._left._noborder {
      border-right: 0; }
  section._fifty-fifty .col._right,
  section ._fifty-fifty .col._right {
    width: 50%;
    padding-left: 68px; }
  section._fifty-fifty ul li,
  section ._fifty-fifty ul li {
    margin-bottom: 10px; }
    section._fifty-fifty ul li:last-of-type,
    section ._fifty-fifty ul li:last-of-type {
      margin-bottom: 20px; }
  section._fifty-fifty img,
  section ._fifty-fifty img {
    width: 55px;
    height: 55px;
    margin-top: 20px; }
  section._white:before, section._green:before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent; }
  section._white {
    background-color: #FFF; }
    section._white:before {
      border-top: 32px solid #E0E7E8; }
  section._green {
    background-color: #E0E7E8; }
    section._green:before {
      border-top: 32px solid #FFF; }
  section._no-arrow:before {
    border-top: transparent; }
  section ._centered {
    text-align: center; }
  section h1 {
    margin: 0 0 50px;
    font-weight: 400;
    font-size: 50px;
    vertical-align: top;
    line-height: .3;
    white-space: nowrap;
    color: #F26241; }
    section h1._nomargin {
      margin-bottom: 10px; }
    section h1.phone {
      margin-top: 50px; }
  section h2 {
    font-weight: 300;
    font-size: 20px;
    color: #7CA0A8;
    margin: 0 0 20px; }
  section p {
    color: #2B2D36;
    font-size: 16px;
    line-height: 1.5; }
    section p._bottommargin {
      margin: 25px auto 30px; }
  section ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    section ul li {
      padding-left: 1em;
      text-indent: -.7em;
      font-size: 18px;
      color: #2B2D36;
      margin-bottom: 20px; }
      section ul li:last-of-type {
        margin-bottom: 0; }
      section ul li:before {
        content: "• ";
        color: #F26241; }
  section .bubble {
    background-color: #FFF;
    border-radius: 5px;
    width: 100%;
    padding: 30px;
    position: relative;
    overflow: hidden; }
    section .bubble-wrap {
      width: 4000px;
      height: 400px;
      position: absolute;
      top: 30px;
      left: 30px;
      -webkit-transition: left 1s;
      transition: left 1s; }
    section .bubble-slide {
      width: 400px;
      height: 100%;
      margin-right: 30px;
      display: inline-block;
      vertical-align: top; }
    section .bubble .top-paragraph {
      padding-bottom: 15px;
      border-bottom: 1px dashed #7CA0A8;
      margin-bottom: 15px; }
  section .controls {
    margin: 20px auto;
    text-align: center; }
    section .controls .slidePicker {
      width: 15px;
      height: 15px;
      border-radius: 300%;
      background-color: #BDCFD3;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px; }
      section .controls .slidePicker:hover, section .controls .slidePicker._active {
        background-color: #7CA0A8; }
    section .controls .arrow {
      vertical-align: middle;
      width: 21px;
      height: 29px;
      cursor: pointer;
      margin-right: 5px; }

.cover {
  background-image: url(/images/consultant.png);
  background-size: cover;
  z-index: 0; }
  .cover .curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #7CA0A8;
    opacity: .7;
    z-index: -1; }
  .cover .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .cover .details img.logo {
      width: 210px;
      height: 230px;
      margin: 0 auto 25px;
      display: block; }
    .cover .details .subtext {
      margin-bottom: 58px;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #FFF; }
      .cover .details .subtext .bullet {
        position: relative;
        top: 5px;
        color: #F26241;
        font-size: 32px; }
    .cover .details img.down-arrow {
      width: 35px;
      margin: 0 auto 25px;
      display: block; }

#who .profile {
  border: 1px solid #E0E7E8;
  text-align: center;
  width: 100%;
  padding: 20px; }
  #who .profile img {
    border-radius: 20em;
    width: 100%; }
  #who .profile h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px; }
  #who .profile h5 {
    margin: 0;
    color: #7CA0A8;
    font-weight: 300; }

#contact {
  padding-bottom: 40px; }
  #contact form {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 850px;
    background-color: #FFF;
    border: 2px solid #BDCFD3;
    display: table; }
    #contact form input,
    #contact form textarea,
    #contact form .row {
      margin: 0;
      padding: 15px;
      border: 0;
      outline: none;
      border-bottom: 2px solid #DEE7E9;
      display: table-cell;
      font-size: 14px;
      resize: none; }
      #contact form input[type=text],
      #contact form textarea[type=text],
      #contact form .row[type=text] {
        width: 50%; }
        #contact form input[type=text]._left,
        #contact form textarea[type=text]._left,
        #contact form .row[type=text]._left {
          border-right: 1px solid #DEE7E9; }
      #contact form input:focus,
      #contact form textarea:focus,
      #contact form .row:focus {
        background-color: #F1F5F6; }
      #contact form input:-webkit-autofill,
      #contact form textarea:-webkit-autofill,
      #contact form .row:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #FFF inset; }
      #contact form input::-webkit-input-placeholder,
      #contact form textarea::-webkit-input-placeholder,
      #contact form .row::-webkit-input-placeholder {
        color: #7CA0A8; }
      #contact form input:-moz-placeholder,
      #contact form textarea:-moz-placeholder,
      #contact form .row:-moz-placeholder {
        color: #7CA0A8; }
      #contact form input::-moz-placeholder,
      #contact form textarea::-moz-placeholder,
      #contact form .row::-moz-placeholder {
        color: #7CA0A8; }
      #contact form input:-ms-input-placeholder,
      #contact form textarea:-ms-input-placeholder,
      #contact form .row:-ms-input-placeholder {
        color: #7CA0A8; }
    #contact form textarea {
      width: 100%;
      height: 250px; }
    #contact form .label-full-height {
      width: 20%;
      display: table-cell; }
    #contact form .checkboxes {
      width: 80%;
      display: table-cell; }
      #contact form .checkboxes .checkbox-container {
        display: inline-block;
        width: 27%;
        padding-bottom: 8px;
        margin-right: 5%;
        border-right: 1px dashed #E0E7E8; }
        #contact form .checkboxes .checkbox-container input[type="checkbox"] {
          display: none; }
        #contact form .checkboxes .checkbox-container label {
          cursor: pointer;
          margin-left: 5px;
          padding-right: 40px;
          width: 30%;
          position: relative; }
          #contact form .checkboxes .checkbox-container label:after {
            content: '✔';
            display: block;
            position: absolute;
            left: -30px;
            top: 0;
            font-size: 14px;
            background-color: #E0E7E8;
            border-radius: 2px;
            color: #E0E7E8;
            padding: 2px 4px; }
        #contact form .checkboxes .checkbox-container input[type="checkbox"]:checked + label:after {
          color: #7CA0A8; }
        #contact form .checkboxes .checkbox-container._other {
          width: 100%;
          margin-top: 5px; }
          #contact form .checkboxes .checkbox-container._other input[type="text"] {
            border: solid 1px #DEE7E9;
            padding: 4px 6px; }
    #contact form .row {
      width: 100%;
      display: block;
      color: #7CA0A8; }
      #contact form .row._inverse {
        background-color: #E0E7E8; }
        #contact form .row._inverse .select {
          background-color: #FFF;
          width: 100px; }
      #contact form .row .select {
        display: inline-block;
        margin-left: 10px;
        background-color: #E0E7E8;
        border-radius: 2px;
        position: relative; }
        #contact form .row .select:after {
          position: absolute;
          top: 50%;
          right: 5px;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          content: '';
          width: 0;
          height: 0;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-top: 5px solid #7CA0A8; }
      #contact form .row select {
        width: 100%;
        padding: 5px 30px 5px 5px;
        outline: none;
        font-size: 14px;
        border: none;
        background: transparent;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        color: #7CA0A8;
        cursor: pointer; }
      #contact form .row button {
        background-color: #F26241;
        box-shadow: none;
        border: 0;
        border-radius: 2px;
        color: #FFF;
        padding: 10px;
        float: right; }
  #contact .contact-string {
    font-size: 14px;
    text-align: center;
    margin-top: 50px; }
    #contact .contact-string a {
      text-decoration: none;
      font-weight: 500;
      color: #F26241; }

footer {
  background-color: #FFF;
  color: #7CA0A8;
  padding: 28px;
  text-align: center;
  font-size: 12px;
  font-weight: 300; }
